header {
    text-align: center  ;
    padding: auto;
    /*sentar el titulo y los botones de navegacion */
}
    
nav a {
        
        background-color: black;
        padding: auto;
        border-radius: 5px;
        text-emphasis: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        /*colo los cuadros de los votones de nabegacion*/
}

h2{
    margin-left: 42px; 
   /*par vober un poco el subtitulo a la derecha*/
}

.contenedor {
    width: 300px;
    margin: 0 auto;
   /*para tener un tamayo exsato para escribir*/

  }
  
  .campo {
    margin-bottom: 15px;
    /*para dejar un espacio en cada espacio entre cada uno de nomdre asta mensaje*/

  }
  
  .campo label {
    display: block;
    margin-bottom: 5px;
    /*espara que los nombres no se pegen con el cuadro de esbrivir*/
  }
  
  .campo input[type="text"],
  .campo input[type="email"],
  .campo textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
   /*para dejar un espacio en cada espacio entre cada uno de nomdre asta mensaje*/

  }
  
  .campo button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*es para dar el estilo del boton de enviar*/

  }
  
  

  .afrente {
    display: inline-block;
    padding-top: 15px;
  /*es para poner el texto al frente del icono*/

}

