

header {
    line-height: 5cap;
    text-align: center  ;
    padding: auto;
    /*sentar el titulo y los botones de navegacion */
    }
    

    nav a {
        
        background-color: black;
        padding: auto;
        border-radius: 5px;
        text-emphasis: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        /*colo los cuadros de los votones de nabegacion*/
    }

   


    .contenedor{
        display: flex;
        justify-content: center;

    
    }

    .imagen{
        width: auto;
        margin-left: 50px;
        width: 350px; 

    }


    .facebook {
        margin-left: 30px;

    }
    
    
    
    
.afrente {
    display: inline-block;
    padding-top: 15px;
}
    
    .facebook img{
        margin-left: 30px;
    
    }