
header {
text-align: center;
padding: auto;
/*sentar el titulo y los botones de navegacion */
}

nav a {
    background-color: black;
    padding: auto;
    border-radius: 5px;
    text-emphasis: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    /*colo los cuadros de los votones de nabegacion*/
}

